ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
  ingressClassName: cilium
  hosts:
    - host: headlamp.{{ requiredEnv "DOMAIN" }}
      paths:
        - path: /
          type: Prefix
  tls:
    - secretName: headlamp-tls
      hosts:
        - headlamp.{{ requiredEnv "DOMAIN" }}
